* {
    margin: 0;
    padding: 0;
}

body{
    margin: 0 auto;
    background-color: white;
}

.my_logo{
    width: 200px;
    height: 200px;
    align-content: center;
    margin: auto;
    display: block;
}

.navbar .navbar-nav {
    position: relative;
    float: none;
    text-align: center;
    margin: auto;
}

.form-inline{
    position: relative;
    float: right;
    alignment: right;
    margin: auto;
    text-align: center;
}

.form-inline input{
    position: relative;
    float: right;
    alignment: right;
    margin: auto;
    text-align: center;
}

.carousel-inner img{
    height: 1000px;
    width: 500px;
}






